body {
  --dark-magenta: hsl(300, 43%, 22%);
  --dark-grayish-magenta: hsl(303, 10%, 40%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --soft-pink: hsl(333, 80%, 67%);
  font-family: 'League Spartan', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  height: 100svh;
  background-color: white;
  position: relative;
}

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 48px 32px;
  text-align: center;
  max-width: 500px;
  background-color: inherit;
}

.bg-pattern {
  position: absolute;
}

.bg-pattern.top {
  top: 0px;
  left: 0px;
}

.bg-pattern.bottom {
  bottom: 0px;
  right: 0px;
}

section {
  margin-bottom: 2rem;
}

section.intro {
  font-size: 1rem;
  line-height: 1.1;
  color: var(--dark-grayish-magenta);
}

h1 {
  font-size: 2.25rem;
  line-height: 1;
  color: var(--dark-magenta);
  padding: 0rem 0.5rem;
  margin-bottom: 1rem;
  letter-spacing: -1px;
}

.star-reviewer {
  margin-bottom: 1rem;
  color: var(--dark-magenta);
  background-color: var(--light-grayish-magenta);
  border-radius: 5px;
  padding: 0.5rem 0rem;
}

.star-reviews img {
  display: inline;
  width: 0.9rem;
  height: 0.9rem;
  margin: 0.2rem;
  vertical-align: middle;
}

section.reviews {
  margin-bottom: 0rem;
}

.review {
  text-align: initial;
  margin-bottom: 1rem;
  padding: 1.5rem 1.25rem;
  background-color: var(--dark-magenta);
  color: var(--light-grayish-magenta);
  border-radius: 8px;
  font-weight: 500;
}

.reviewer-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 400;
}

.reviewer-info div {
  display: flex;
  flex-direction: column;
}

.reviewer-info img {
  border-radius: 50%;
  height: 2.5rem;
  display: inline;
}

.review .buyer-status {
  font-size: 0.9rem;
  color: var(--soft-pink);
}

@media (min-width: 900px) {
  body {
    display: flex;
  }

  .max-width-wrapper {
    margin: auto;
    padding: 64px;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  section {
    text-align: left;
  }

  .intro {
    grid-column: 1;
    grid-row: 1;
    max-width: 375px;
  }

  .intro h1 {
    font-size: 3rem;
    padding: 0rem 2rem 0rem 0rem;
  }

  .star-reviews {
    grid-column: 2;
    grid-row: 1;
    width: fit-content;
  }

  .star-reviewer {
    display: flex;
    padding: 0.7rem 2rem;
    align-items: center;
  }

  .star-reviewer.one {
    position: relative;
    left: -2rem;
  }

  .star-reviewer.three {
    position: relative;
    left: 2rem;
  }

  .stars {
    margin-right: 1rem;
  }

  .star-reviewer b {
    padding-top: 0.25rem;
  }

  .reviews {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.5rem;
    grid-column: 1/3;
    grid-row: 2;
    height: fit-content;
  }

  .review.two {
    position: relative;
    top: 1rem;
  }

  .review.three {
    position: relative;
    top: 2rem;
  }
}
